<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Skin cleanser store</title>
    <link rel="stylesheet" href="assets/css/login.css" />
  </head>
  <body>
    <section class="business-title header-section2">
      <img
        class="business-title-img"
        src="/e-commerce/templates/assets/images/site-logo-dark.svg"
        alt=""
      />
    </section>

    <section class="card-box">
      <form action="https://httpbin.org/get" method="post">
        <p>
          <label for="email">Username or Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            autocomplete="on"
          />
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </p>

        <input type="checkbox" name="check" id="check" />
        <label for="check">Remember Me</label>

        <button type="submit">Log In</button>
      </form>
    </section>

    <section class="links">
      <p><a href="">Lost your password?</a></p>
      <p><a href="">← Go to Skin Cleanser Store</a></p>
    </section>
  </body>
</html>
