*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f8ff;
}

.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

/* HEADER */
header{
    /* padding: 25px 35px; */
    
    
    
}

.background-img{
    background: url("/ecommerce/templates/assets/images/hero_img.jpg");
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 45rem;
    background-repeat: no-repeat;
}

.background-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;

}

/* .background-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg,transparent,#f2efe4 0%,#f2efe4 5%,rgba(0,0,0,.104)22.5%, #f2efe4 100%, #f2efe4 100%,#f2efe4 100%,#f2efe4), url();
    
   
    height: 40rem;
    opacity: 0.5;
    z-index: -1;
} */

.options, .nav-container, .profile_cart{
    justify-content: space-between;
    color: #ffffff;
  
}

.nav-container{
    border-bottom: 1px solid #abb8c3;
    padding: 25px 35px;
}

.header-section1, .header-section4{
    width: 20%;
    padding-top: 10px;
}
.header-section2{
    width: 20%;   
}
.header-section3{
    width: 12%;
    padding-top: 10px;
    position: relative;
    padding-right: 1rem;
}

.header-section4{
    display: none;
}
.header-section4 i{
    font-size: 1.5rem;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.business-title-img{
    height: 2.5rem;
}

.cart-num{
    background-color: #ffffff;
    color: black;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0; 
    align-items: center;
    justify-content: center;
}

.cart-num p{
    text-align: center;
    font-size: 0.7rem;
}

.hero-text-container{
    width: 40%;
    margin-top: 8rem;
    margin-left: 10rem;
}

.hero-text-container h1{
    font-size: 5rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 4rem;
}

.hero-text-container p{
    color: #ffffff;
    line-height: 2rem;
    margin-bottom: 2rem;
}

/* NAV SIDEBAR */

#nav-sidebar{
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}

#nav-sidebar a{
    color: black;
    line-height: 5rem;
    padding-left: 1rem;
    
}

#nav-sidebar ul li{
    border-top: 1px solid #abb8c3;
    width: 100%;
}

#nav-sidebar ul{
    flex-direction: column;
}

#nav-x{
    justify-content: right;
    font-size: 1.5rem;
}
.cont{
    border-bottom: 1px solid #abb8c3;
}

/* CART SIDEBAR */

.allCart{
    position: relative;

}

#openCart1{
    display: none;
}

.openCart{
    background-color: white;
    color: black;
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: 1;    
}

.openCart-close{
    justify-content: space-between;
    padding: 1rem;
}

.openCart-close p > a{
    color: black;
}

.openCart-products{
    margin-top: 50%;
    text-align: center;
}

.openCart-a{
    width: 100%;
    border: 1px solid #fa2d64;
    position: absolute;
    bottom: 0;
    transition: background-color 0.3s;
    text-align: center;
}

.openCart-a:hover{
    background-color: #fa2d64;
    color: white;
}

.openCart a{
    color: #fa2d64;
    padding: 1rem;
    transition: color 0.3s;
}

/* .openCarta:hover{
    color: white;
} */


/* MAIN */

.main-container{
    margin: auto;
    width: 75%;
    margin-top: 7rem;
}

.arrivals-shop{
    justify-content: space-between;
    margin-bottom: 5rem;
}

.arrivals{
    font-weight: normal;
    font-size: 2.5rem;
}

.shop{
    text-decoration: none;
    color:#fb4b7a;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid #fb4b7a;
    padding: 1rem 2rem;
    transition: background-color 0.3s, color 0.3s;
}

.shop:hover{
    background-color: #fb4b7a;
    color: #ffffff;
}

.shop1{
    color: white;
    border: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.shop1:hover{
    background-color: white;
    color: #fa2d64;
}

.productCard{
    width: 32%;
    margin-bottom: 2rem;
}

/* .productCard{
    background-color: #f7f7f9;
} */

.productCard-container{
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-img_container{
    width: 98%;
    /* background-color: red; */
    height: 50vh;
    position: relative;
}

.product-img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
    /* TO MAKE THE IMAGES BIGGER ON HOVER */
.product-img_container:hover img{
    transform: scale(1.05);
    cursor: pointer;
}

.card-cart{
    color: black;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background-color: #f7f7f9;
    padding: 0.5rem;
    border-radius: 100px;
    display: none;
}

.product-img_container:hover .card-cart{
    display: block;
}

.product-name, .price, .rating{
    color: #646467;
}

.price{
    font-weight: 600;
}

.rating{
    letter-spacing: -0.18rem;
}

/* ABOUT HOMEPAGE */
.about-homepage{
    justify-content: space-between;
    margin-top: 18rem;
    margin-bottom: 10rem;
    
}

.about-img{
    width: 50%;
}

.about-writeup-container{
    width: 40%;
    align-items: center;

}

.about-homepage-div{
   
}

.about-writeup{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    line-height: 1.5rem;
}

/* ORGANIC CARE */
.organic-care{
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid #abb8c3;
    padding-top: 5rem;
}

.fa-hand-sparkles, .fa-leaf, .fa-hand-holding-heart{
    color: #fb4b7a;
    font-size: 1.5rem;
    background-color: white;
    padding: 20px;
    border-radius: 100px;
}

.properties{
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.organic-care p{
    line-height: 1.6rem;
    color: #646467;
}

/* HERO IMAGE 2 */

.background-img_2{
    background: url("/ecommerce/templates/assets/images/pic10.jpg");
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 40rem;
    background-repeat: no-repeat;
}

/* .background-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;

} */

.hero_2{
    margin-top: 6rem;
    justify-content: center;
    padding-top: 18%;
    text-align: center;
 } 

 .watch-youtube{
    color: white;
 }

 .flawless{
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 3rem;
 }

.watch{
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    border: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.watch i{
    padding-left: 1rem;
}

.watch:hover{
    background-color: white;
    color: #fb4b7a;
}

.watch-div{
    /* text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid white;
    padding: 1rem 2rem;
    transition: background-color 0.3s, color 0.3s;
    width: 15rem;
    text-align: center; */
}



.watch-div:hover a{
    /* color: #fb4b7a; */
}

.watch-div:hover{
    /* background-color: white;
    color: #fb4b7a; */
}


.beauty-flawlwess{
    text-align: center;
    margin-bottom: 5rem;
    line-height: 3rem;
}

.beauty-flawlwess p{
    color: #646467;
}

/* REVIEW */
.review-container{
    margin-top: 20rem;
}

.review{
    margin-bottom: 4rem;
}

.review-card{
    width: 30%;
    text-align: center;
}

.rating_pink{
    color: #fb4b7a;
    margin-bottom: 1rem;
    letter-spacing: -0.12rem;
}

.rate{
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    color: #646467;
    margin-bottom: 1.5rem;
}

.review-img img{
    border-radius: 100px;
    margin-bottom: 1rem;
}

.reviewer-name{
    font-size: 0.8rem;
    font-weight: bold;
    color: #646467;
    letter-spacing: 0.1rem;
}

.review-card-container{
    justify-content: space-between;
}

/* FOLLOW */
.follow, .follow a{
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    text-align: center;
    margin-top: 9.5rem;
    margin-bottom: 4rem;
}

.follow a{
    text-decoration: underline;
    text-decoration-color: black;
    
}

/* MORE IMAGES */

.more-img{
    width: 75%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.more-images{
    width: 30%;
    margin-bottom: 2rem;
}

.more-images img{
    width: 100%;
}


/* FOOTER */

footer{
    margin-top: 10rem;
}

.footer-container{
    border-top: 1px solid #abb8c3;
    border-bottom: 1px solid #abb8c3;
    height: 10rem;
    margin-bottom: 5rem;
}

.footer-services{
    width: 75%;
    margin: auto;
    justify-content: space-between;
}

.icon-container{
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.material-symbols-outlined{
    color: #fb4b7a;
}

.footer-services h4{
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.footer-services p{
    font-size: 0.8rem;
    font-weight: 500;
    color: #646467;
}

.footer-options{
    text-align: center;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.footer-options a{
    color: #646467;
    font-weight: 400; 
}

.footer-options a:hover, .footer-social_media i:hover{ 
    color: #fa2d64;
}

.footer-icons{
    text-align: center;
    width: 25%;
    margin: auto;
}

.footer-icons img{
    margin-bottom: 3rem;
}

.footer-social_media{
    justify-content: space-between;
    width: 30%;
    margin: auto;
    margin-bottom: 7rem;
    font-size: 1.2rem;
}

.footer-copyright{
    text-align: center;
    border-top: 1px solid #abb8c3;
    padding: 2rem;
    font-size: 0.9rem;
}



/* MEDIA QUERY */

@media screen and (max-width: 1280px) {
    .header-section1{
        display: none;
    }

    .header-section4{
        display: block;
    }

    .header-section3{
        width: 20%;
    }

    .background-img{
        height: 30rem;
    }

    .hero-text-container{
        width: 60%;
        margin-top: 3rem;
        margin-left: 3rem;
    }

    .hero-text-container h1{
        font-size: 3rem;
    }

    /* ABOUT */

    .about-homepage{
        margin-top: 10rem;
    }

    .main-container{
        margin: auto;
        width: 90%;
        margin-top: 7rem;
    }

    .about-img img{
        height: 50vh;
        width: 80%;
        object-fit: contain;
    }

    .about-writeup-container{
        width: 48%;
    }
    
    /* ORGANIC CARE */
    .organic1{
        width: 30%;
    }

    .organic-care p{
        font-size: 0.9rem;
    }

    /* HERO IMAGE 2 */

    .background-img_2{
        height: 28rem;
    }
    
    .flawless{
        font-size: 2.5rem;
    }

    .arrivals{
        font-size: 2.2rem;
    }

    /* REVIEWS */

    .review-container{
        margin-top: 10rem;
    }
    
    .review-card{
        width: 25%;
    }
    
    .rate{
        font-size: 1rem;
    }

    /* FOOTER */
    .footer-services{
        width: 90%;
        flex-wrap: wrap;
    }

    .footer-serviceContainer{
        width: 45%; 
    }

    .icon-container{
        margin-bottom: 1rem;
    }

    .footer-icons{
        width: 35%;
    }
    
    .footer-social_media{
        width: 40%;
    }
}

@media screen and (max-width: 540px){
    /* body{
        background-color: red;
    } */

    /* NAV/HERO */

    .business-title-img{
        width: 125px;
    }

    .cartTotal{
        display: none;
    }

    #navOpen{
        font-size: 1.2rem;
    }

    .header-section3{
        width: 15%;
    }

    .background-img{
        height: 25rem;
    }

    .hero-text-container{
        width: 95%;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .hero-text-container h1{
        font-size: 2rem;
    }

    .hero-text-container p{
        font-size: 0.8rem;
    }

    /* ABOUT */

    .productCard{
        width: 44%;
    }

    .main-container{
        margin-top: 2rem;
    }

    .about-img img{
        height: 100vh;
    }

     /* ORGANIC CARE */

     .organic-care{
        flex-wrap: wrap;
        
     }
     .organic1{
        width: 80%;
        margin: auto;
    }

    /* HERO IMAGE 2 */

    .background-img_2{
        height: 25rem;
    }
    
    .flawless{
        font-size: 2rem;
    }

    .arrivals{
        font-size: 1.5rem;
    }

     /* REVIEWS */

     .review-container{
        margin-top: 8rem;
    }

    .review-card-container{
        flex-wrap: wrap;
    }
    
    .review-card{
        width: 80%;
        margin: auto;
    }

     /* FOOTER */
     .footer-services{
        width: 90%;
        margin: auto;
        
    }

    .footer-serviceContainer{
        width: 80%; 
        margin: auto;
    }

    .footer-container{
        height: 20rem;
    }

    .footer-icons{
        width: 50%;
    }
    
    .footer-social_media{
        width: 50%;
    }
}
    

