<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin cleanser store</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/f117ac489a.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div>
        <section class="background-img">
            <header>
                <section class="nav-container d-flex">
                    <section class="header-options header-section1">
                        <ul class="d-flex options">
                            <li><a href="/ecommerce/templates/index.html">HOME</a></li>
                            <li><a href="/ecommerce/templates/shop.html">SHOP</a></li>
                            <li><a href="/ecommerce/templates/about.html">ABOUT</a></li>
                            <li><a href="/ecommerce/templates/contact.html">CONTACT</a></li>
                        </ul>
                    </section>
    
                    <section class="business-title header-section2">
                        <img class="business-title-img" src="assets/images/site-logo.svg" alt="" >
                    </section>
    
                    <section class="profile_cart d-flex header-section3">
                        <section>
                            <a href="/ecommerce/templates/login.html"><i class="fa-solid fa-user"></i></a>
                        </section>
                        <section>
                            <span>$0.00</span>
                        </section>
                        <section >
                            <section>
                                <a href="" ><i class="fa-solid fa-cart-shopping" id="cartBag"></i></a>
                            </section>

                            <div class="cart-num d-flex">
                                <p>0</p>
                            </div>
                        </section>
                    </section>

                    <section class="openCart" id="openCart1">
                        <div class="d-flex openCart-close">
                            <p>Shopping cart</p>
                            <p><a id="x" href=""><i class="fa-solid fa-xmark"></i></a></p>
                        </div>
                        <hr>
                        
                        <p class="openCart-products">No products in the cart</p>
                        

                        <a class="openCart-a" href="">CONTINUE SHOPPING</a>

                    </section>
    
                </section>

                <section class="hero-text-container">
                    <p>WELCOME TO FLAWLESS STORE</p>
                    <h1>The Best Skin Cleanser for You</h1>
                    <div  class="shop-div">
                        <a href="" class="shop shop1">SHOP NOW</a>
                    </div>
                    
                </section>
            </header>
        </section>
        <main>
            <!-- YOUR MAIN GOES HERE -->
            <div class="main-container">
                <section class="d-flex arrivals-shop">
                    <h2 class="arrivals">New Arrivals</h2>
                    <div  class="shop-div">
                        <a href="" class="shop">SHOP NOW</a>
                    </div>
                </section>

                <!-- PRODUCT CARD CONTAINER -->
                <section class="productCard-container d-flex">
                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic3.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic2.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic1.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic4.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic5.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic6.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic7.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic8.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>
                </section>
                

                <!-- PRODUCT CARD CONTAINER
                <section class="productCard-container d-flex">
                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic5.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic6.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic7.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic8.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>
                </section> -->

                <section class="d-flex about-homepage">
                    <section class="about-img">
                        <img src="assets/images/skin-cleanser-template-face-lotion-img.jpg" alt="">
                    </section>
                    <section class="about-writeup-container d-flex">
                        <div class= "about-homepage-div">
                            <h2 class="arrivals">Beauty Flawless Skin</h2>
                            <p class="about-writeup">Enim lectus mauris faucibus turpis convallis ipsum odio lorem dignissim id odio sed enim nullam venenatis erat in cursus tortor tristique aliquam nulla quis.</p>

                            <p class="about-writeup">Aliquam scelerisque scelerisque ac laoreet laoreet faucibus vestibulum fringilla ut aliquet dictumst dignissim id eget cras nulla venenatis dictum tristique faucibus lectus egestas aenean placerat dolor dolor phasellus eros vestibulum velit turpis ornare facilisis ante ornare.</p>

                            <div  class="shop-div">
                                <a href="" class="shop">READ MORE</a>
                            </div>
                        </div>
                    </section>
                </section>

                <!-- <hr> -->
                <!-- ORGANIC CARE -->

                <section class="d-flex organic-care">

                    
                    <section>
                        <i class="fa-solid fa-hand-sparkles"></i>
                        <h3 class="properties">All Skin Types</h3>
                        <p>Morbi nullam odio lectus vitae lorem in non</p>
                        <p>tortor aliquet eget faucibus dui dolor.</p>
                    </section>
                    <section>
                        <i class="fa-solid fa-leaf"></i>
                        <h3 class="properties">Pure Organic</h3>
                        <p>Morbi nullam odio lectus vitae lorem in non</p>
                        <p>tortor aliquet eget faucibus dui dolor.</p>
                    </section>
                    <section>
                        <i class="fa-solid fa-hand-holding-heart"></i>
                        <h3 class="properties">Natural Care</h3>
                        <p>Morbi nullam odio lectus vitae lorem in non</p>
                        <p>tortor aliquet eget faucibus dui dolor.</p>
                    </section>
                    
                </section>

            </div>

            <section class="background-img_2">
                <div class="d-flex hero_2">
                    <div class="watch-youtube">
                        <h2 class="flawless">Flawless Skincare Regimen</h2>
                        <a href="" class="watch">WATCH THE VIDEOS <i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </section>

            <div class="main-container">
                <div class="beauty-flawlwess">
                    <h2 class="arrivals">Most Loved by the Customers</h2>
                    <p>Mauris lacus nunc pellentesque eget bibendum vitae scelerisque</p>
                </div>

                <section class="productCard-container d-flex">
                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic3.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic2.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic1.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>

                    <section class="productCard">
                        <div>
                            <a href="" class="anchor-card">
                                <div class="product-img_container">
                                    <img src="assets/images/pic4.jpg" alt="">
                                    <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                </div>
                                
                            </a>

                            <div>
                                <p class="product-name">Cleanser</p>
                                <p class="product-type">Hybrid Cleansing Balm</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p class="price">$32.90</p>
                            </div>
                        </div>
                    </section>
                </section>

                <section class="review-container">
                    <h2 class="arrivals t-center review">What Our Customers Say</h2>

                    <div class="d-flex review-card-container">
                        <section class="review-card">
                            <section class="rating_pink">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </section>
                            <div>
                                <p class="rate">Sed odio donec curabitur auctor amet tincidunt non odio enim felis tincidunt amet morbi egestas hendrerit.</p>
                            </div>
                            <div class="review-img">
                                <img src="assets/images/review-1.jpg" alt="">
                            </div>
                            <p class="reviewer-name">JENNIFER LEWIS</p>
                        </section>

                        <section class="review-card">
                            <section class="rating_pink">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </section>
                            <div>
                                <p class="rate">Sed odio donec curabitur auctor amet tincidunt non odio enim felis tincidunt amet morbi egestas hendrerit.</p>
                            </div>
                            <div class="review-img">
                                <img src="assets/images/review-2.jpg" alt="">
                            </div>
                            <p class="reviewer-name">ALICIA HEART</p>
                        </section>

                        <section class="review-card">
                            <section class="rating_pink">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </section>
                            <div>
                                <p class="rate">Sed odio donec curabitur auctor amet tincidunt non odio enim felis tincidunt amet morbi egestas hendrerit.</p>
                            </div>
                            <div class="review-img">
                                <img src="assets/images/review-3.jpg" alt="">
                            </div>
                            <p class="reviewer-name">JUAN CARLOS</p>
                        </section>
                    </div>

                    <p class="follow">Follow us <a href="">@flawlesscleanser</a></p>

                    <section class="more-img d-flex">
                        <section class="more-images">
                            <a href="" >
                                <img src="assets/images/more-img-1.jpg" alt="">
                            </a>
                        </section>
                        <section class="more-images">
                            <a href="">
                                <img src="assets/images/more-img-2.jpg" alt="">
                            </a>
                        </section>
                        <section class="more-images">
                            <a href="">
                                <img src="assets/images/more-img-3.jpg" alt="">
                            </a>
                        </section>
                        <section class="more-images">
                            <a href="">
                                <img src="assets/images/more-img-4.jpg" alt="">
                            </a>
                        </section>
                        <section class="more-images">
                            <a href="">
                                <img src="assets/images/more-img-5.jpg" alt="">
                            </a>
                        </section>
                        <section class="more-images">
                            <a href="">
                                <img src="assets/images/more-img-6.jpg" alt="">
                            </a>
                        </section>
                    </section>
                </section>
               
            </div>
        </main>

        <!-- FOOTER -->
        <footer>
            <section class="footer-container d-flex">
                <div class="footer-services d-flex">
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                local_shipping
                                </span>
                        </div>
    
                        <div>
                            <h4>FREE DELIVERY</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section>
    
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                credit_card
                                </span>
                        </div>
                            
                        <div>
                            <h4>EASY PAYMENT</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section>
    
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                airport_shuttle
                                </span>
                        </div>
                            
                        <div>
                            <h4>TRACK ORDER</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section>
    
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                help
                                </span>
                        </div>
    
                        <div>
                            <h4>HAVE QUESTIONS?</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section> 
                </div>
                
            </section>

            <section class="footer-icons">
                <section>
                    <img src="assets/images/site-logo-dark.svg" alt="">
                </section>

                <section>
                    <ul class="d-flex footer-options">
                        <li><a href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </section>

                <section class="footer-social_media d-flex">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                </section>
            </section>

            <section class="footer-copyright">
                <p>© 2023 Skin Cleanser Store. Powered by Skin Cleanser Store.</p>
            </section>

        </footer>
    </div>
    <script src="/ecommerce/templates/assets/js/side-cart.js"></script>
</body>
</html>