<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin cleanser store</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/f117ac489a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/shop.css">
    
</head>
<body>
    <div>
        <section class="background-img">
            <header>
                <section class="nav-container d-flex">
                    <section class="header-options header-section1">
                        <ul class="d-flex options">
                            <li><a class="a-nav" href="/e-commerce/templates/index.html">HOME</a></li>
                            <li><a class="a-nav" href="/e-commerce/templates/shop.html">SHOP</a></li>
                            <li><a class="a-nav" href="">ABOUT</a></li>
                            <li><a class="a-nav" href="">CONTACT</a></li>
                        </ul>
                    </section>
    
                    <section class="business-title header-section2">
                        <img class="business-title-img" src="assets/images/site-logo-dark.svg" alt="" >
                    </section>
    
                    <section class="profile_cart d-flex header-section3">
                        <section>
                            <a href=""><i class="fa-solid fa-user"></i></a>
                        </section>
                        <section>
                            <span class="cart-total">$0.00</span>
                        </section>
                        <section>
                            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>

                            <div class="cart-num d-flex">
                                <p>0</p>
                            </div>
                        </section>
                    </section>
    
                </section>

                <!-- <section class="hero-text-container">
                    <h1>Get in Touch</h1>
                    <p>Enim lectus mauris faucibus turpis convallis ipsum odio lorem dignissim odio enim nullam venenatis erat cursus tortor tristique aliquam nulla.</p>
                </section> -->
            </header>
        </section>
        
        <main>
            <section class="shop-container d-flex">
                <section class="shop-filter">
                    <section class="filter-price">
                        <p class="filter">Filter by price</p>
                        <hr>
                        <div class="d-flex filter-range">
                            <p class="filter-p1">FILTER</p>
                            <p class="filter-p2">Price: <span>$10 — $50</span></p>
                        </div>
                    </section>

                    <section class="filter-categories">
                        <p class="filter">Filter by Categories</p>
                        <a href="/e-commerce/templates/bodyLotion.html" class="filter-products">Body Lotion <span>(3)</span></a>
                        <a href="/e-commerce/templates/bundles.html" class="filter-products">Bundles  <span>(1)</span></a>
                        <a href="/e-commerce/templates/cleanser.html" class="filter-products">Cleanser <span>(6)</span></a>
                        <a href="/e-commerce/templates/moisturisers.html" class="filter-products">Moisturizers <span>(3)</span></a>
                        <a href="/e-commerce/templates/sunscreen.html" class="filter-products">Sunscreens <span>(2)</span></a>

                        <!-- <p class="filter-products">Body Lotion <span>(3)</span></p>
                        <p class="filter-products">Bundles <span>(1)</span></p>
                        <p class="filter-products">Cleanser <span>(6)</span></p>
                        <p class="filter-products">Moisturizers <span>(3)</span></p>
                        <p class="filter-products">Sunscreens <span>(2)</span></p> -->
                    </section>
                </section>

                <section class="shop-products">
                    <p class="home-shop"><a href="/e-commerce/templates/index.html">Home </a>/ Shop</p>

                    <section class="d-flex sort-pattern">
                        <div>
                            <p>Showing 1–12 of 14 results</p>
                        </div>

                        <div>
                            <select name="options" id="">
                                <option value="Default sorting">Default sorting</option>
                                <option value="Default sorting">Sort by popularity</option>
                                <option value="Default sorting">Sort by average rating</option>
                                <option value="Default sorting">Sort by latest</option>
                                <option value="Default sorting">Sort by price: Low to high</option>
                                <option value="Default sorting">Sort by price: High to low</option>
                            </select>
                        </div>
                    </section>

                    <section>
                         <!-- PRODUCT CARD CONTAINER -->
                        <section class="productCard-container d-flex">
                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic3.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic2.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic1.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic4.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic5.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic6.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic7.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic8.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>

                            <section class="productCard">
                                <div>
                                    <a href="" class="anchor-card">
                                        <div class="product-img_container">
                                            <img src="assets/images/pic8.jpg" alt="">
                                            <a href=""><i class="fa-solid fa-cart-shopping card-cart"></i></a>
                                        </div>
                                        
                                    </a>

                                    <div>
                                        <p class="product-name">Cleanser</p>
                                        <p class="product-type">Hybrid Cleansing Balm</p>
                                        <div class="rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="price">$32.90</p>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </section>

                    <section class="d-flex next">
                        <p>1</p>
                        <p>2</p>
                        <p><i class="fa-solid fa-arrow-right-long"></i></p>
                    </section>
                </section>
            </section>
        </main>

        <!-- FOOTER -->
        <footer>
            <section class="footer-container d-flex">
                <div class="footer-services d-flex">
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                local_shipping
                                </span>
                        </div>
    
                        <div>
                            <h4>FREE DELIVERY</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section>
    
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                credit_card
                                </span>
                        </div>
                            
                        <div>
                            <h4>EASY PAYMENT</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section>
    
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                airport_shuttle
                                </span>
                        </div>
                            
                        <div>
                            <h4>TRACK ORDER</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section>
    
                    <section class="d-flex">
                        <div class="icon-container d-flex">
                            <span class="material-symbols-outlined">
                                help
                                </span>
                        </div>
    
                        <div>
                            <h4>HAVE QUESTIONS?</h4>
                            <p>Nullam pharetra egestas mollis</p>
                        </div>
                    </section> 
                </div>
                
            </section>

            <section class="footer-icons">
                <section>
                    <img src="assets/images/site-logo-dark.svg" alt="">
                </section>

                <section>
                    <ul class="d-flex footer-options">
                        <li><a href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </section>

                <section class="footer-social_media d-flex">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                </section>
            </section>

            <section class="footer-copyright">
                <p>© 2023 Skin Cleanser Store. Powered by Skin Cleanser Store.</p>
            </section>

        </footer>
    </div>
</body>
</html>