<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Skin cleanser store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/signup.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flashmessage.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='/images/cropped-favicon-192x192.jpg') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    
    <section class="business-title header-section2">
      <img
        class="business-title-img"
        src="{{ url_for('static', filename='/images/site-logo-dark.svg') }}"
        alt=""
      />
    </section>

    <section class="card-box">
      <form  method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {% if category == 'error' %}error{% else %}success{% endif %}">
                    {{ message }}
                    <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
        <p>
          <label for="email">Username or Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            autocomplete="on"
          />
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </p>

        <input type="checkbox" name="check" id="check" />
        <label for="check">Remember Me</label>

        <button type="submit">Sign Up</button>
      </form>
    </section>

    <section class="links">
      <p>Already have an account? <a href="login.html">Log In</a></p>
      <p><a href="">Lost your password?</a></p>
      <p><a href="/ecommerce/templates/cleanser.html">← Go to Skin Cleanser Store</a></p>
    </section>
  </body>
</html>
